.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    align-items: flex-start;
    max-width: min(1440px, 100%);
    background: linear-gradient(to bottom, var(--second), #ffffff);
    padding: 2rem 1rem 0;
    z-index: 1;
}


.subtitle {
    font-style: italic;
}

.form1 {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;   
    align-items: flex-start;
    gap: .2rem;
}

.inputNaC,
.inputDate {
    height: 7ch;
    margin: .2rem;
    padding: 0 1rem;
    border-radius: 10px;
    border: none;
}

.inputNaC:focus,
.inputDate:focus {
    outline: none;
}
.inputNaC {
    width: 30%;
}

.inputDate {
    width: 66.3%;
}

.redText::placeholder {
    color: #ff0000;
}

.button {
    width: 72%;
    margin: 1rem 0 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: var(--highlight);
    border: none;
    border-radius: 10px;
    color: #fff; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Box shadow for a subtle lift */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
    /* Hover styles */
 .button:hover {
      background-color: #4a90e2; /* Change to a slightly different color on hover */
    }
  
    /* Focus styles for accessibility */
.button:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.5); /* Example outline color */
    }

.info {
    font-size: .7rem;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 72%;
    margin-bottom: 1rem;
}



.image {
    position: relative;
    width: 500px;
    aspect-ratio: 3/2;
    align-self: flex-end;
}

.img {
    object-fit: contain;
}

.successMessage {
    margin-top: 1rem;
    text-align: justify;
}

.buttonAgain {
    width: max-content;
    margin: 1rem 0 2rem;
    padding: .5rem 2rem;
    font-size: 1rem;
    background-color: var(--highlight);
    border: none;
    border-radius: 10px;
    color: #fff; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Box shadow for a subtle lift */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





@media (max-width: 1000px) {
    .image {
        width: 350px;
    }

    .inputNaC, .inputDate, .button, .info {
        width: 100%;
    }
}
@media (max-width: 769px) {
    .container {
        grid-template-columns: 1fr;
    }

    .image {
        width: 70vw;

    }

    .text {
        text-align: center;
    }

    .title {
        font-size: 1.7rem;
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }

    .info {
        margin-bottom: 0;
    }

    
}   

@media (max-width: 400px) {
    .image {
        width: 90vw;
    }
}